@import url(http://fonts.googleapis.com/css?family=Cantata+One);
/* line 18, ../sass/layout.scss */
body .article {
  *zoom: 1;
  max-width: 149.5em;
  _width: 149.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .article:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/layout.scss */
body #tools {
  width: 16.38796%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
  min-height: 100%;
}
/* line 25, ../sass/layout.scss */
body .main-content {
  height: 700px;
  overflow-y: scroll;
  width: 66.55518%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
  *zoom: 1;
  max-width: 149.5em;
  _width: 149.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
body .main-content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 34, ../sass/layout.scss */
.change_widht_pwd {
  height: 2.2em;
  min-height: 2.2em;
}

/* line 38, ../sass/layout.scss */
.error_pwd {
  float: left;
}

/* line 41, ../sass/layout.scss */
.lab_pwd {
  width: 15%;
  float: left;
}

/* line 45, ../sass/layout.scss */
.input_pwd {
  width: 20%;
  float: left;
}

/* line 49, ../sass/layout.scss */
#save_pwd {
  float: right;
}

/* line 52, ../sass/layout.scss */
#logout {
  float: left;
}

/* line 56, ../sass/layout.scss */
.main {
  min-width: 100%;
  min-height: 75%;
  width: 83.27759%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}

/* line 62, ../sass/layout.scss */
.connected {
  width: 16.38796%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 64, ../sass/layout.scss */
.connected p {
  float: left;
}

/* line 67, ../sass/layout.scss */
.connected_tool {
  width: 100%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 69, ../sass/layout.scss */
.connected_tool p, .connected_tool a {
  float: right;
  display: inline;
}

/* line 75, ../sass/layout.scss */
#page {
  *zoom: 1;
  max-width: 149.5em;
  _width: 149.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#page:after {
  content: "";
  display: table;
  clear: both;
}
/* line 77, ../sass/layout.scss */
#page .menu-bar {
  width: 83.27759%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 80, ../sass/layout.scss */
#page .menu-bar li {
  display: inline;
}
/* line 85, ../sass/layout.scss */
#page .title {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}
/* line 90, ../sass/layout.scss */
#page .articles {
  width: 66.55518%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 94, ../sass/layout.scss */
#page .other {
  width: 24.74916%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}

/* line 99, ../sass/layout.scss */
#section {
  *zoom: 1;
  max-width: 149.5em;
  _width: 149.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#section:after {
  content: "";
  display: table;
  clear: both;
}
/* line 101, ../sass/layout.scss */
#section #article {
  width: 83.27759%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 105, ../sass/layout.scss */
#section #aside {
  width: 16.38796%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}

/* line 110, ../sass/layout.scss */
#main-container {
  *zoom: 1;
  max-width: 149.5em;
  _width: 149.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#main-container:after {
  content: "";
  display: table;
  clear: both;
}
/* line 115, ../sass/layout.scss */
#main-container .erreur {
  width: 24.74916%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
  margin-left: 33.44482%;
}

/* line 121, ../sass/layout.scss */
#login {
  width: 49.83278%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
  margin-left: 33.44482%;
}
/* line 125, ../sass/layout.scss */
#login .label {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}
/* line 126, ../sass/layout.scss */
#login .input {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}

/* line 129, ../sass/layout.scss */
#mdp {
  margin-left: 33.44482%;
  width: 49.83278%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 132, ../sass/layout.scss */
#mdp .label {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}
/* line 133, ../sass/layout.scss */
#mdp .input {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}

/* line 136, ../sass/layout.scss */
#nom {
  margin-left: 33.44482%;
  width: 49.83278%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 139, ../sass/layout.scss */
#nom .label {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}
/* line 140, ../sass/layout.scss */
#nom .input {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}

/* line 143, ../sass/layout.scss */
#prenom {
  width: 49.83278%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
  margin-left: 33.44482%;
}
/* line 147, ../sass/layout.scss */
#prenom .label {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}
/* line 148, ../sass/layout.scss */
#prenom .input {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}

/* line 152, ../sass/layout.scss */
#email {
  width: 49.83278%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
  margin-left: 33.44482%;
}
/* line 156, ../sass/layout.scss */
#email .label {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}
/* line 157, ../sass/layout.scss */
#email .input {
  width: 49.49495%;
  float: left;
  margin-right: 1.0101%;
  display: inline;
}

/* line 162, ../sass/layout.scss */
#submit, #inscription {
  margin-left: 8.3612%;
  width: 49.83278%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 165, ../sass/layout.scss */
#submit .btn, #submit .inscription, #inscription .btn, #inscription .inscription {
  width: 16.10738%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}

@media screen and (max-width: 768px) {
  /* line 171, ../sass/layout.scss */
  #submit, #inscription {
    width: 49.83278%;
    float: left;
    margin-right: 0.33445%;
    display: inline;
  }
  /* line 174, ../sass/layout.scss */
  #submit .btn, #submit .inscription, #inscription .btn, #inscription .inscription {
    width: 32.88591%;
    float: right;
    margin-right: 0;
    *margin-left: -0.5em;
    display: inline;
  }

  /* line 180, ../sass/layout.scss */
  #page {
    *zoom: 1;
    max-width: 149.5em;
    _width: 149.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  #page:after {
    content: "";
    display: table;
    clear: both;
  }
  /* line 182, ../sass/layout.scss */
  #page .menu-bar {
    width: 83.27759%;
    float: right;
    margin-right: 0;
    *margin-left: -0.5em;
    display: inline;
  }
  /* line 185, ../sass/layout.scss */
  #page .menu-bar li {
    display: block;
  }
  /* line 189, ../sass/layout.scss */
  #page .title {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -0.5em;
    display: inline;
  }
  /* line 194, ../sass/layout.scss */
  #page .articles {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -0.5em;
    display: inline;
  }
  /* line 198, ../sass/layout.scss */
  #page .other {
    width: 100%;
    float: right;
    margin-right: 0;
    *margin-left: -0.5em;
    display: inline;
  }
}
@media screen and (max-width: 520px) {
  /* line 208, ../sass/layout.scss */
  #submit, #inscription {
    width: 49.83278%;
    float: left;
    margin-right: 0.33445%;
    display: inline;
  }
  /* line 211, ../sass/layout.scss */
  #submit .btn, #submit .inscription, #inscription .btn, #inscription .inscription {
    width: 49.66443%;
    float: right;
    margin-right: 0;
    *margin-left: -0.5em;
    display: inline;
  }
}
/* line 218, ../sass/layout.scss */
#general {
  *zoom: 1;
  max-width: 149.5em;
  _width: 149.5em;
  padding-left: 1em;
  padding-right: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 38, ../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#general:after {
  content: "";
  display: table;
  clear: both;
}
/* line 221, ../sass/layout.scss */
#general #one {
  width: 33.11037%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 224, ../sass/layout.scss */
#general #two {
  width: 33.11037%;
  float: left;
  margin-right: 0.33445%;
  display: inline;
}
/* line 227, ../sass/layout.scss */
#general #three {
  width: 33.11037%;
  float: right;
  margin-right: 0;
  *margin-left: -0.5em;
  display: inline;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 8, ../sass/screen2.scss */
body {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #f9fee8), color-stop(100%, #aaabbb));
  background-image: -webkit-linear-gradient(right, #f9fee8, #aaabbb);
  background-image: -moz-linear-gradient(right, #f9fee8, #aaabbb);
  background-image: -o-linear-gradient(right, #f9fee8, #aaabbb);
  background-image: linear-gradient(right, #f9fee8, #aaabbb);
}

/* line 13, ../sass/screen2.scss */
#page {
  padding: 5%;
  font-size: 1.75em;
}

/* line 27, ../sass/screen2.scss */
#section #aside {
  background-color: black;
  height: 100%;
}

/* line 32, ../sass/screen2.scss */
#main-container {
  padding: 10%;
  font-size: 1.25em;
}
/* line 33, ../sass/screen2.scss */
#main-container #main-header {
  padding-bottom: 1em;
}
/* line 35, ../sass/screen2.scss */
#main-container #main-header b {
  color: blue;
}
/* line 41, ../sass/screen2.scss */
#main-container a {
  color: white;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #808080), color-stop(100%, #aaafff));
  background-image: -webkit-linear-gradient(right, #808080, #aaafff);
  background-image: -moz-linear-gradient(right, #808080, #aaafff);
  background-image: -o-linear-gradient(right, #808080, #aaafff);
  background-image: linear-gradient(right, #808080, #aaafff);
}
/* line 51, ../sass/screen2.scss */
#main-container label {
  font-family: 'Cantata One';
}
/* line 55, ../sass/screen2.scss */
#main-container .erreur {
  font-size: 1em;
  color: red;
}

@media screen and (max-width: 768px) {
  /* line 66, ../sass/screen2.scss */
  #page {
    padding: 2%;
    font-size: 1.0em;
  }

  /* line 74, ../sass/screen2.scss */
  #main-container {
    padding: 7%;
    font-size: 1em;
  }
  /* line 80, ../sass/screen2.scss */
  #main-container label {
    font-family: 'Cantata One';
  }
}
@media screen and (max-width: 520px) {
  /* line 90, ../sass/screen2.scss */
  #page {
    padding: 2%;
    font-size: 0.8em;
  }
  /* line 94, ../sass/screen2.scss */
  #page .other {
    display: none;
  }

  /* line 101, ../sass/screen2.scss */
  #main-container {
    padding: 5%;
    font-size: 0.8em;
  }
  /* line 107, ../sass/screen2.scss */
  #main-container label {
    font-family: 'Cantata One';
  }
}
