{% extends "exemple.html" %}

{% block titre %}articles{% endblock %}

{% block corps %}

<div id="page">
	<div class="menu-bar">
	<li>menu1</li>
	<li>menu2</li>
	<li>menu3</li>
	<li>menu4</li>
	</div>
<div class="title" >
	<h1> ceci est un tritre</h1>
</div>
<div class="articles">
<b>Les articles:</b>

	<li>article1</li>
	<li>article2</li>
	<li>article3</li>
	<li>article4</li>
	<li>article5</li>
	<li>article6</li>
	<li>article7</li>
	<li>article8</li>
	<li>article9</li>
	<li>article10</li>
	<li>article11</li>
	<li>article12</li>
	<li>article13</li>

</div>
<div class="other">
<b>les articles récents</b>
	<li>article1</li>
	<li>article2</li>
	<li>article3</li>
	<li>article4</li>
	<li>article5</li>
	<li>article6</li>
	<li>article7</li>
	<li>article8</li>
</div>
</div>

{% endblock %}

