<!DOCTYPE html>
<html>
    <head>
        <link href="static/stylesheets/screen.css" rel="stylesheet" type="text/css">
    {% block header %}
        <meta charset="utf-8" />
        <title>{% block titre %}erreur{% endblock %}</title>
    {% endblock %}
    </head>

    <body>
       
        {%if erreur == "1"%}
        <H3 class="erreur">Login ou Mot de passe incorrecte </H3>
        {%endif%}
        {% block corps %}{% endblock %}        
        {% block footer %}{% endblock %}
        
    </body>
</html>