<html ng-app="ui.bootstrap">
<head>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js'></script>
    <script src='./static/javascripts/myapp.js'></script>
    <script src='./static/javascripts/controllers/control_layout.js'></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="static/stylesheets/screen.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src='./static/javascripts/ui-bootstrap-0.2.0.js'></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body ng-controller="change_layout">
  
   <header class="connected_tool"><p>You are connected as <b> {{session.username}}</b> <a id="logout" href="/logout">Logout</a>   </p>
  </header>
  </br>
  </br>
  </br>
  </br>

 

<div id="tools" >
 
   <div>
     <button class="btn" ng-click="add_row()">Add row</button>
  </br>
 </br>
  <button class="btn" ng-click="modify_row()" >Modify row</button>
</br>
  
  
   </br>

  <button class="btn" ng-click="delete_row()">Delete row</button>
</br> 
</br>
  <input class="btn"  type="button" name="save" value="save" ng-click="save()"> </br>
 </div> 
 </div> 
<div id="main-content">
  <ul class="nav nav-tabs">
  <li ng-repeat=" p in pages"  class="active" >
    <a  href="#{{'{{'}} p.page {{'}}'}}"  ng-click="demo()" id="{{'{{'}} p.page {{'}}'}}" >{{'{{'}} p.page {{'}}'}} </a>
  </li>
 
</ul>
     
 <div id="injection_tab" class="tab-content" >

  

    <div class="tab-pane active"  id="{{'{{'}} current_target {{'}}'}}">
      <ul class="nav nav-tabs">
        <li ng-repeat="pp in parts"><a  href="#sub{{'{{'}} pp.part {{'}}'}}" ng-click="render_sub_content()" id="{{'{{'}} pp.part {{'}}'}}"  >{{'{{'}} pp.part {{'}}'}}</a></li>
      </ul>



  

  </div>

</div>
<div id="injection"  >
 
  
  </div>

</div>
 
</body>
</html>
