<html ng-app="ui.bootstrap">
<head>
	<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js'></script>
    <script src='./static/javascripts/myapp.js'></script>
    <script src='./static/javascripts/controllers/control_change_pwd.js'></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <link href="static/stylesheets/screen.css" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
    <script src='./static/javascripts/ui-bootstrap-0.2.0.js'></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-responsive.min.css" rel="stylesheet">
</head>
<body ng-controller="change_pwd">
	
	<header class="connected"><p>You are connected as <b> {{session.username}}  </b> </p> 
	</br>
	</br>

	<a id="logout" href="/logout">Logout</a>
	</header>

</br>
</br>

	<article class="article">
	
	
	<div collapse="compte">
	</br>
	</br>
	</br>
		<h4 class="error">{{'{{'}}result {{'}}'}} </h4>
		<div class="well well-large, selection, change_widht_pwd" ><label class="lab_pwd">Old password: </label><input type="text" class="input_pwd" ng-model="old_pwd" placeholder="old password"><label class="error_pwd">{{'{{'}}error_old {{'}}'}}</label></div> 
		<div class="well well-large, selection, change_widht_pwd" ><label class="lab_pwd">New password:</label><input type="text" class="input_pwd" ng-model="new_pwd" placeholder="new password"><label class="error_pwd">{{'{{'}}error_new {{'}}'}}</label></div>
		<div class="well well-large, selection, change_widht_pwd" ><label class="lab_pwd">Confirm your password:</label><input type="text" class="input_pwd" ng-model="confirm_pwd" placeholder="confirm your password"><label class="error_pwd">{{'{{'}}error_confirm {{'}}'}}</label></div>
		<input id="save_pwd" type="button" value="save" class="btn" ng-click="input_control()">
	</div>
	
	</article>
</div>
</body>
</html>